{% extends 'base.html.twig' %}

{% block appliTitre %}{{ titre|raw }}{% endblock %}

{% block stylesheets %}
<script src="{{asset('js/toastr/toastr.min.js')}}"></script>
  <!-- DataTables -->
  <link rel="stylesheet" href="{{asset('css/bootstrap/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{asset('css/bootstrap/buttons.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/jquery/jquery-ui-redmond.css')}}">
  <link href="{{asset('css/bootstrap/bootstrap-toggle.min.css')}}" rel="stylesheet">
  <link href="{{asset('css/toastr/toastr.min.css')}}" rel="stylesheet">
{% endblock %}   

{% block body %}

{{form_start(form)}}
<div class="row mt-4">
    <div class="col-md-12">
       <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs nav-justified" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link  active  " id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Groupe</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  " id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Utilisateurs</a>
                    </li>
                </ul>                            
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                  <div class="tab-pane fade   show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                    <div class="row">
                        <div class="col-md-12">  
                            {{ form_label(form.name, "Nom : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.name, {'attr': {'autocomplete':'off',  'class':'col-sm-5 form-control' } } ) }}
                            {{ form_label(form.description, "Description : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.description, {'attr': {'autocomplete':'off',  'class':'form-control' } } ) }}
                            {{ form_label(form.role, "Rôle : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.role, {'attr': {'autocomplete':'off',  'class':'col-sm-5 form-control' } } ) }}
                        </div> 
                    </div>     
                  </div>                               
                 <div class="tab-pane fade " id="custom-tabs-two-profile" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                    <div class="row overflow-auto">
                        <div class="col-md-12">
                            {{ form_label(form.users, "Utilisateurs : " , {'label_attr': {'class': 'col-form-label-lg col-sm-2' , 'for':''}} ) }}
                            {{ form_widget(form.users , { label_attr: {class: 'form-control'} }) }}
                        </div> 
                    </div>
                  </div>                  
                </div>
            </div>
        <div class="card-footer">    
            <div class="row">
                    <div class="col-md-4">                        
                        <a href="{{path('parametres_users_groups', {selectTab: "groupes"} )}}" class="btn btn-primary">Retour</a>
                    </div>
                    <div class="col-md-4">                        
                    </div>
                    <div class="col-md-4" align="right">                        
                        <input type="submit" value="Valider" class ="btn btn-success">
                    </div>                    
            </div> 
        </div>       
        </div>
              <!-- /.card -->
    </div>
</div>    
{{form_end(form)}}       
            

        

{% endblock %}


