{% extends 'base.html.twig' %}

{% block appliTitre %}{{ titre|raw  }}{% endblock %}

{% block stylesheets %}
<script src="{{asset('js/toastr/toastr.min.js')}}"></script>
  <!-- DataTables -->
  <link rel="stylesheet" href="{{asset('css/bootstrap/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{asset('css/bootstrap/buttons.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/jquery/jquery-ui-redmond.css')}}">
  <link href="{{asset('css/toastr/toastr.min.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{asset('css/bootstrap/icheck-bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/cropper.css')}}">
  <style>
    .form-control-date {

            height: 40px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        .calendar-off table.ui-datepicker-calendar {
            display:none !important;
        }  
        .ui-datepicker {
            font-size: 12px !important;
        }

        
        .input-file {
            display: none;
        }

        .modal-lg {
            max-width: 70% !important;
        }

  </style>   
{% endblock %}   

{% block body %}

{{form_start(form, { 'attr' : {'id' : 'profile_user_edit'}  })}}
<div class="row mt-4">
    <div class="col-md-12">
       <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs nav-justified" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link  active  " id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Utilisateur</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  " id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Groupes</a>
                    </li>
                </ul>                            
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                  <div class="tab-pane fade   show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                    <div class="row">
                        <div class="col-3">
                            <div class="center-block" id="conteneur_photo"> 
                                <img src="{{asset('img/utilisateurs/user.jpg')}}"  height="300" width="300" style="width:60% ; height:60% "  id="photo_vide">
                                <img src=""  height="300" width="300" style="width:60% ; height:60% "  id="photo_user">
                                <button type="button" class="btn btn-danger" name="supp_photo" id="supp_photo" >Supprimer</button>
                            </div>
                        </div>
                        <div class="col-6">
                            {{ form_label(form.username, "Nom de conexion : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.username, {'attr': {'autocomplete':'off',  'class':'col-sm-5 form-control' } } ) }}
                        </div>
                        <div class="col-3">
                            {{ form_label(form.is_active, "Actif : " , {'label_attr': {'class': 'form-check-label' , 'for':''}} ) }}
                            {{ form_widget(form.is_active, {'attr': {  'class':' form-control' } } ) }}
                        </div>        
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.nom, "Nom : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.nom, {'attr': {'autocomplete':'off',  'class':'col-sm-5 form-control' } } ) }}
                            {{ form_label(form.prenom, "Prénom : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.prenom, {'attr': { 'autocomplete':'off', 'class':'col-sm-5  form-control' } } ) }}
                            {{ form_label(form.DDN, "Date de naissance : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.DDN, {'attr': {  'autocomplete':'off','class':'col-sm-3 form-control-date DATE' } } ) }}
                            {{ form_label(form.email, "Email : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.email, {'attr': {  'autocomplete':'off','class':'col-sm-7 form-control' } } ) }}
                        </div>    
                        <div class="col-6">
                            {{ form_label(form.tel_interne, "Téléphone interne : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.tel_interne, {'attr': {  'autocomplete':'off','class':'col-sm-3 form-control' } } ) }}
                            {{ form_label(form.tel_portable, "Téléphone portable : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.tel_portable, {'attr': {  'autocomplete':'off','class':'col-sm-3 form-control' } } ) }}
                            {{ form_widget(form.photo, {'attr': {  'class':' form-control' } } ) }}
                            {{ form_label(form.service, "Service : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.service, {'attr': {  'class':'col-sm-5 form-control' } } ) }}
                            {{ form_label(form.creationDate, "Date de création : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.creationDate, {'attr': {  'autocomplete':'off','class':'col-sm-3 form-control form-control-date DATE'  } } ) }}  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">                    
                   
                        </div> 
                    </div>                  
                  </div>                               
                 <div class="tab-pane fade " id="custom-tabs-two-profile" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                    <div class="row overflow-auto">
                        <div class="col-md-12">
                            {{ form_label(form.groupes, "Groupe : " , {'label_attr': {'class': 'control-label' , 'for':''}} ) }}
                            {{ form_widget(form.groupes, {'attr': {  'class':' form-control' } } ) }}
                        </div> 
                    </div>
                  </div>                  
                </div>
            </div>
        <div class="card-footer justify-content-between">    
            <div class="row">
                    <div class="col-md-4">                        
                        <a href="{{path('parametres_users_groups', {selectTab: "utilisateurs"} )}}" class="btn btn-primary">Retour</a>
                    </div>
                    <div class="col-md-4">                        
                    </div>
                    <div class="col-md-4" align="right">                        
                        <input type="submit" value="Valider" class ="btn btn-success">
                        <input type="hidden" id="id" name="id" value="{{ user.id }}">
                    </div>                    
            </div> 
        </div>       
        </div>
              <!-- /.card -->
    </div>
</div>    
{{form_end(form)}} 


<div class="modal  modal-white" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-white ">
          <div class="modal-header">
              <h5>Ajouter une photo</h5>
              <button type="button" class="close" data-dismiss="modal" name="fermeredit" id="fermeredit" aria-label="Close"></button>
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-9">
                      <form action="{{ path('photoUser')}} " id="form_photo_edit" method="post">
                      <div id="edition_photo"> <img width="400" height="600" src="" alt="" id="photo_view"> </div>
                  </div>
                  <div class="col-md-3">
                      <div class="custom-file">
                          <label for="users_imageFile" class="btn btn-info">Choisir une photo</label>
                          <input type="file" id="users_imageFile"  name="users_imageFile" onchange="previewFile()" class="input-file " lang="fr" accept=".jpg,.jpeg,.gif,.png"/>

                      </div>
                      <div class="custom-file">

                      </div>
                  </div> 
                                        
              </div>        
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default fermer" data-dismiss="modal" name="fermerdiag" id="fermerdiag" aria-label="Close">Fermer</button>
              <input type="submit" value="Valider" class ="btn btn-success">
          </div></form> 
      </div>    
     </div>  
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->            

      
<script src="{{ asset('js/axios.js') }}"></script>
<script src="{{ asset('js/cropper.js') }}"></script>

<script>
    document.getElementById("photo_user").style.display = "none";
    document.getElementById("supp_photo").style.display = "none";

//ouverture modal edit
$('#photo_vide').on('click', function () {
  $('#editModal').modal('show');
});

  let cropper;
  let preview = document.getElementById('photo_view');
  var file_input = document.getElementById('users_imageFile');
  function previewFile()
  {
      if (typeof cropper != "undefined") 
          cropper.destroy();

      let file = file_input.files[0]
      let reader = new FileReader()
  
      reader.addEventListener('load', function (event)
      {
          preview.src = reader.result
      }, false)
  
      if (file)
      {
          reader.readAsDataURL(file)
      }
  };
  
  preview.addEventListener('load', function (event)
  {
      //let preview = document.getElementById('photo_view'); 
      cropper = new Cropper(preview, {
          //aspectRatio: 1/1
      })
  });
  
  let form = document.getElementById('form_photo_edit');
  form.addEventListener('submit', function (event)
  {
      event.preventDefault()
      cropper.getCroppedCanvas({
          maxHeight: 1000,
          maxWidth: 1000
      }).toBlob(function (blob)
      {
          ajaxWithAxios(blob)
      })
  });
  
  function ajaxWithAxios(blob)
  {
      let data = new FormData(form)
      data.append('file', blob)
      axios({
          method: 'post',
          url: "{{ path('photoUser')}}",
          data: data,
          headers: {'X-Requested-With': 'XMLHttpRequest'}
      })
      .then((response) => {
          cropper.destroy();
          $('#editModal').modal('hide');
          document.getElementById("ldap_users_photo").value = response.data.filename;
          document.getElementById("photo_vide").style.display = "none";
          document.getElementById("photo_user").src = "{{asset('img/utilisateurs/')}}" + response.data.filename;
          document.getElementById("photo_user").style.display = "inline";
          document.getElementById("supp_photo").style.display = "inline";
          console.log(response)
      })
  }; 


  $('#supp_photo').on('click', function () {
      var file= document.getElementById("ldap_users_photo").value;
      var id= document.getElementById("id").value;
      $.ajax({
          url:"{{ path('photoUserDel') }}",
          method:"POST",
          data:{
            id:id,
            file:file
          },
          success:function(data)
          { 
              document.getElementById("photo_vide").style.display = "inline";
              document.getElementById("photo_user").style.display = "none";
              document.getElementById("supp_photo").style.display = "none";
              document.getElementById("ldap_users_photo").value = '';

          },     
      });
  });


//Calendrier
$('.DATE').datepicker({
 closeText: 'Fermer',
 prevText: 'Précédent',
 nextText: 'Suivant',
 currentText: 'Aujourd\'hui',
 monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
 monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
 dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
 dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
 dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
 weekHeader: 'Sem.',
 dateFormat: 'dd/mm/yy',
 autoclose:true
 });

      
</script>
{% endblock %}        

