{% set current_path = app.request.get('_route') %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{{asset('img/logo.png')}}" alt=" Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Présence Verte</span>
    </a>
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{asset('img/utilisateurs/4335.png')}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Nom Prénom</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a href="{{path("dash_board")}}" class="nav-link {% if current_path == 'dash_board' or current_path == '/' %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview {% if current_path starts with 'applications' %} menu-open {% endif %}" >
              <a href="#" class="nav-link {% if current_path starts with 'applications' %} active {% endif %}">
                <i class="nav-icon fas fa-copy "></i>
                <p>
                  Applications
                  <i class="fas fa-angle-left right"></i>                  
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{{path("applications_enquete_conv")}}" class="nav-link {% if current_path == 'applications_enquete_conv' %} active {% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Enquête - Pôle Convialité</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{path("applications_signalement_adm")}}" class="nav-link {% if current_path == 'applications_signalement_adm' %} active {% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Signalements Administratifs</p>
                  </a>
                </li>            
              </ul>
            </li>
            <li class="nav-item has-treeview {% if current_path starts with 'parametres' %} menu-open {% endif %}" >
              <a href="#" class="nav-link {% if current_path starts with 'parametres' %} active {% endif %}">
                <i class="nav-icon fas fa-copy "></i>
                <p>
                  Paramètres
                  <i class="fas fa-angle-left right"></i>                  
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{{path("parametres_users_groups")}}" class="nav-link  {% if current_path starts with 'parametres_users_groups' %} active {% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Utilisateurs/Groupes</p>
                  </a>
                </li>          
              </ul>
            </li>            

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>